* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 400px;
    background-image: url(images/lucerne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #070707;
    font-weight: 600;
    font-size: 1.1rem;
}
a:hover {
    color: #ce7209;
}

/* ================ HEADER ================ */
header {
    position: relative;
    padding: 0 2rem;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: #070707;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #ce7209;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover {
    opacity: 0.8;
    color: #fff;
    scale: 1.05;
}
.action_btn:active {
    scale: 0.75;
}

/* ================ DROPDOWN MENU ================ */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 200px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 260px;
}
.dropdown_menu li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu  {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ================ Home ================ */
section#home {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
#home h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
#home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* ================ RESPONSIVE NAVBAR MENU ================ */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
